{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}
    Webbles - 테마 "{{category.title}}" 상세 페이지
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/category-detail.css' %}">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/static/javascripts/vendor/jquery.zclip.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.lk a').zclip({
          path:'/static/javascripts/vendor/ZeroClipboard.swf',
          copy:function(){return $('input#permalink').val();}
        });
      });
    </script>

    <script type="text/javascript">
      $('.index').on("click", function() {
        if($(this).data('href') !== undefined){
            document.location = $(this).data('href');
        }
      });

      $('.title').on("click", function() {
        if($(this).data('href') !== undefined){
            document.location = $(this).data('href');
        }
      });

      // SDK
      $("body").ready(function() {
        var w = new Webbles();
        w.startTutorial('/static/sdk/bubbleInfos.json');
      });
      // END OF SDK
    </script>

    <script type="text/javascript">
      $(".title").hover(function() {
        $(this).find(".panel-body").toggleClass("hover");
        $(this).find(".panel-body .stat").toggleClass("hover");
        $(this).find(".panel-body .init").toggleClass("hover");
      });
    </script>
{% endblock %}

{% block header %}
  {{ block.super }}
{% endblock %}

{% block contents %}
          <div class="category-list">
            <div class="container-fluid">
              <div class="category-detail row" style="margin-bottom: 64px;">
                <div class="col-sm-3 text-right">
                  <img src="/static/images/themes/{{category.pk}}.jpg" class="img-circle" style="width: 200px; height: 200px">
                </div>
                <div class="col-sm-9">
                  <div class="clearfix">
                    <h1 class="pull-left">
                      {{category.title}}
                    </h1>
                    <div class="">

                    </div>
                  </div>
                  <div>
                    <p>{{category.description|safe}}</p>
                    <div class="friend hidden-sm hidden-xs">
                      <div class="form-group">
                        <div class="col-xs-9">
                          <input id="permalink" type="text" class="form-control" value="https://webbles.net/categories/{{category.pk}}/" disabled>
                        </div>
                        <div class="fb text-center col-lg-1 col-md-1 col-sm-1 col-xs-1">
                          <img src="/static/images/icons/friend_icon_facebook.png">
                          <div class="fb-share-button" data-href="/tutorials/{{tutorial.pk}}/"></div>
                        </div>
                        <div class="tw text-center col-lg-1 col-md-1 col-sm-1 col-xs-1">
                          <img src="/static/images/icons/friend_icon_twitter.png">
                          <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-hashtags="webbles">Tweet</a>
                        </div>
                        <div class="lk text-center col-lg-1 col-md-1 col-sm-1 col-xs-1">
                          <a href="#">
                            <img src="/static/images/icons/friend_icon_link.png">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tutorial-list row clearfix">
              {% for tutorial in category.tutorials.all %}
                <div data-href="/tutorials/{{tutorial.pk}}/" class="index hidden-xs hidden-sm col-sm-offset-2 col-sm-1">
                  <div class="text-center">
                    <strong>{{forloop.counter}}</strong>
                  </div>
                  <div class=""></div>
                </div>
                <div data-href="/tutorials/{{tutorial.pk}}/" class="title col-sm-9">
                  <div class="panel">
                    <div class="panel-body clearfix">
                      <div class="theme-tutorial-title">{{tutorial.title}}</div>
                      <div class="stat hidden-sm hidden-xs">
                        <span>
                          <img src="/static/images/icons/stat_view_n.png">
                          {{tutorial.amount_views}}
                        </span>
                        <span>
                          <img src="/static/images/icons/stat_review_n.png">
                          {{tutorial.amount_reviews}}
                        </span>
                        <span>
                          <img src="/static/images/icons/stat_like_n.png">
                          {{tutorial.amount_likes}}
                        </span>
                      </div>
                      <div class="init hidden-sm hidden-xs">
                        <img src="/static/images/icons/btn_play_small.png">
                        <span>바로 시작하기</span>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
{% endblock %}

{% block footer %}
  {{ block.super }}
{% endblock %}