{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}
    Webbles - 테마 목록
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/category-list.css' %}">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
      $(".category-list .list .panel").hover(function() {
        $(this).toggleClass("hover");
        $(this).find(".webbles-list-btn").toggleClass("hover");
        $(this).find(".btn-category-play").parent().parent().toggleClass("hover");
      });
    </script>
{% endblock %}

{% block header %}
  {{ block.super }}
{% endblock %}

{% block contents %}
          <div class="category-list">
            <div class="container-fluid">
              <div class="search row">
                <div class="hidden-xs col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <h1 class="text-center">위블즈가 추천하는 테마 리스트</h1>
                </div>
              </div>
              <div class="list row">
                {% for category in categories %}
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="center-block text-center">
                        <img src="/static/images/themes/{{category.pk}}.jpg" class="img-circle">
                        <a href="/tutorials/{{category.initial_tutorial}}/init/" target="">
                          <div>
                            <img src="/static/images/icons/btn_play.png" class="btn-category-play img-circle">
                          </div>
                        </a>
                      </div>
                      <div class="center-block text-center">
                        <h2>{{category.title|safe}}</h2>
                      </div>
                      <div class="center-block text-center">
                        <p>{{category.description|safe}}</p>
                      </div>
                      <div class="center-block text-center">
                        <a href="/categories/{{category.pk}}" class="btn webbles-list-btn">
                          정보 상세 보기
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
{% endblock %}

{% block footer %}
  {{ block.super }}
{% endblock %}