{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}
    Webbles - 소셜 튜토리얼
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/index.css' %}">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
      $(".category-list .panel").hover(function() {
        $(this).toggleClass("hover");
        $(this).find(".webbles-list-btn").toggleClass("hover");
        $(this).find(".btn-category-play").parent().parent().toggleClass("hover");
      });
    </script>
{% endblock %}

{% block header %}
  {{ block.super }}
{% endblock %}

{% block container %}
<div id="landing-image" class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="landing-box">
      <div>
        <div class="landing-description">
          <h4>소셜 튜토리얼, 위블즈</h4>
          <p>이 세상 어떤 사이트에서나 튜토리얼을 <br> 만들어 친구들과 공유할 수 있습니다.</p>
          <h5 style="font-size: 15px !important; font-weight: bolder; margin-top: 125px; margin-right: -325px; margin-left: -52px; text-align: center;">
            <span style="font-size: 20px;">{{n_member}}</span>명의 사용자가 <span style="font-size: 20px;">{{n_tutorial}}</span>개의 튜토리얼을 <span style="font-size: 20px;">{{n_initialize}}</span>번을 사용했습니다.
          </h5>
        </div>
        <img class="landing-ci" src="/static/images/icons/main_image.png" alt="">  
      </div>
      <div>
        <button onclick="var w = new Webbles(); w.startTutorial('/static/sdk/bubbleInfos.json');">일단 한 번 해봐!</button>
      </div>
    </div>
  </div>
</div>
<section id="contents" class="container">
  <div class="row landing-header"></div>
  <div class="mobile-notification row">
    <h4><i class="fa fa-mobile"></i> 위블즈는 모바일 환경에서는 실행되지 않습니다.</h4>
    <p>실제 사용을 위해서는 데트스탑이나 노트북 컴퓨터에서 크롬 브라우저로 접속해주세요!</p>
    <a href="https://www.facebook.com/webbles.kr"> <i class="fa fa-fighter-jet"></i> 재밌는 정보가 가득한! 위블즈 페이스북 바로가기</a>
  </div>
  <div class="category-list row">
    {% for category in categories %}
      <div class="category col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="center-block text-center">
              <img src="/static/images/themes/{{category.pk}}.jpg" class="img-circle">
              <a href="/tutorials/{{category.initial_tutorial}}/init/" target="">
                <div>
                  <img src="/static/images/icons/btn_play.png" class="btn-category-play img-circle">
                </div>
              </a>
            </div>
            <div class="center-block text-center">
              <h2>{{category.title|safe}}</h2>
            </div>
            <div class="center-block text-center">
              <p>{{category.description|safe}}</p>
            </div>
            <div class="center-block text-center">
              <a href="/categories/{{category.pk}}" class="btn btn-lg webbles-list-btn">
                정보 상세 보기
              </a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="row landing-header"></div>
  <div class="row landing-service-header">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h2 class="hidden-lg hidden-md"><center>소셜 튜토리얼, 위블즈</center></h2>
      <h2 class="hidden-sm hidden-xs">소셜 튜토리얼, 위블즈</h2>
    </div>
  </div>
  <div class="row landing-service-description">
    <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
      <div class="service-description-wrapper">
        <p>위블즈(Webbles)는 구글의 크롬 확장 프로그램을 통해 실행되는 소셜 튜토리얼 플랫폼입니다.</p>
        <p>위블즈 서비스를 이용하면 누구나, 그리고 어떠한 웹사이트에서도 클릭 몇 번으로 간단하게 튜토리얼을 만들 수 있으며, 만들어진 튜토리얼을 쉽게 공유할 수 있습니다.</p>
        <p>이렇게 제작된 튜토리얼들을 통해 사용자들은 클릭 몇 번으로 웹사이트의 다양한 기능들을 쉽고 차근차근 익힐 수 있습니다.</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="//player.vimeo.com/video/110477744" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    <div class="hidden-lg hidden-md col-sm-12 col-xs-12">
      <div class="service-description-wrapper">
        <p>위블즈(Webbles)는 구글의 크롬 확장 프로그램을 통해 실행되는 소셜 튜토리얼 플랫폼입니다.</p>
        <p>위블즈 서비스를 이용하면 누구나, 그리고 어떠한 웹사이트에서도 클릭 몇 번으로 간단하게 튜토리얼을 만들 수 있으며, 만들어진 튜토리얼을 쉽게 공유할 수 있습니다.</p>
        <p>이렇게 제작된 튜토리얼들을 통해 사용자들은 클릭 몇 번으로 웹사이트의 다양한 기능들을 쉽고 차근차근 익힐 수 있습니다.</p>
      </div>
    </div>
  </div>
  <div class="row landing-service-extension-what">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <p>크롬 확장 프로그램이 무엇인가요?</p>
      <a href="/intro/#whatIsChromeExt"><p>더 알아보기</p></a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    </div>
  </div>
  <!-- visibile in lg, md, sm -->
  <div class="row landing-service-button hidden-xs">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <a href="https://chrome.google.com/webstore/detail/%EC%9C%84%EB%B8%94%EC%A6%88/hpbjamocnkboicjejbhoaoionpbimgme" target="_blank"><div></div></a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <button onclick="var w = new Webbles(); w.startTutorial('/static/sdk/bubbleInfos.json');">한 번 해보세요!</button>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    </div>
  </div>
  <!-- visibile in xs -->
  <div class="row landing-service-button hidden-sm hidden-md hidden-lg">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <a href="https://chrome.google.com/webstore/detail/%EC%9C%84%EB%B8%94%EC%A6%88/hpbjamocnkboicjejbhoaoionpbimgme" target="_blank"><div></div></a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <button onclick="var w = new Webbles(); w.startTutorial('/static/sdk/bubbleInfos.json');">한 번 해보세요!</button>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    </div>
  </div>
</section>
{% endblock %}

{% block footer %}
  {{ block.super }}
{% endblock %}
