{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}
    Webbles - 서비스 소개
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/intro.css' %}">
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
  $("body").ready(function() {
    var w = new Webbles();
    w.startTutorial('/static/sdk/bubbleInfos.json');
  });

  $('#feedback-submit').on("click", function() {
    $.ajax({
      url: "/api-list/feedbacks/",
      type: "POST",
      data: {
        "mail": $('#feedback-mail').val(),
        "contents": $('#feedback-contents').val()
      }
    })
    .done(function(data) {
      alert("메일이 성공적으로 전달되었습니다.");
    })
    .fail(function(data) {
      alert("메일 전달이 실패하였습니다.");
      //alert(JSON.stringify(data));
    });
  });

  $(document).ready(function(){
    $('.photo').each(function(){
      $(this).height($('#contents > div.row.section-content > div:nth-child(1) > div.question-box').height());
    });
/*
    $('.service-description').each(function(){
      if($(window).width() >= 768) {
        $(this).css("top", ($('#contents > div:nth-child(4) > div:nth-child(1) > div.service-photo.col-lg-4.col-md-4.col-sm-12.col-xs-12').height() - $(this).height()) / 2);  
      } else {
        $(".service-photo").each(function(){
          $(this).find("img").removeClass("pull-right");  
        })
      }
    });
*/
  });
</script>
{% endblock %}

{% block header %}
  {{ block.super }}
{% endblock %}

{% block contents %}
<!--<a href="" id="facebook_link"><img src="/static/images/icons/facebook_logo.png" alt=""></a>-->
<section id="intro" class="section-container">
  <div class="row section-header">
    <div>
      <div></div>
      <div></div>
    </div>
    <div>
      <div>위블즈 고객의 소리</div>
      <div></div>
      <!-- <div></div> -->
    </div>
    <div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="row section-content">
    <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
      <div class="question-box">
        <div class="photo"></div>
        <div class="dialogue">
          <p>우와 이런 기능도 있었어? 나만의 꿀팁! 다 함께 공유해요! </p>
          <p>일주일 안으로 만들어서 올려드리고, 제보자의 이름을 설명에 넣어드립니다!</p>
        </div>
      </div>
      <div class="question-box">
        <div class="photo"></div>
        <div class="dialogue">
          <p>우리 사이트에 위블즈 버튼을 넣고 싶어요! 어떻게 하면 되죠?</p>
          <p>위블즈 개발자용 SDK 베타버전을 시연중입니다. 연락주시면 친절하게 응대하겠습니다.</p>
        </div>
        
      </div>
      <div class="question-box">
        <div class="photo"></div>
        <div class="dialogue">
          <p>위블즈 빌더의 출시에 대한 소식이 궁금합니다. 언제 내가 직접 만들 수 있나요?</p>
          <p>빌더모드는 향후 3개월 이내 출시 예정입니다. 최대한 서둘러서 만들도록 하겠습니다!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <form role="form" class="form-horizontal feedback-form" id="feedback-form">
        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>메일주소:</p>
            <input id="feedback-mail" class="form-control" type="email" placeholder="답장드릴 이메일 주소를 써주세요!">
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>전달내용:</p>
            <textarea id="feedback-contents" class="form-control" placeholder="이 내용이 위블즈 운영진에게 전달됩니다."></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button id="feedback-submit" type="submit" class="hidden-sm hidden-xs pull-right">보내기</button>
            <button id="feedback-submit" type="submit" class="hidden-lg hidden-md btn-block" style="width: 100%;">보내기</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row section-header">
    <div>
      <div></div>
      <div></div>
    </div>
    <div>
      <div>위블즈 서비스 라인업</div>
      <div></div>
    </div>
    <div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="row section-content">
    <div class="service-intro-box row">
      <div class="service-photo col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img src="/static/images/icons/service_01.png" alt="" class="pull-right">
      </div>
      <div class="service-description col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <h4>1. 위블즈 튜토리얼</h4>
        <p>위블즈 튜토리얼은 구글 크롬 확장프로그램을 통해 웹 튜토리얼을 누구나 쉽고 간단하게 공유, 실행할 수 있는 ‘소셜 튜토리얼 플랫폼'입니다.페이지의 경계를 허무는 위블즈 튜토리얼의 강력한 기능을 통해 전세계의 웹사이트를 정복해보세요!</p>
      </div>
    </div>
    <div class="service-intro-box row">
      <div class="service-photo col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img src="/static/images/icons/service_02.png" alt="" class="pull-right">
      </div>
      <div class="service-description col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <h4>2. 위블즈 튜토리얼 빌더</h4>
        <p>위블즈 튜토리얼 빌더를 통해 누구나, 어떤 사이트에서나 튜토리얼을 자유롭게 제작할 수 있습니다.원하는 웹사이트에서 원하는 방식으로 쉽고 자유롭게 튜토리얼을 제작하고, 플랫폼에서 나눠보세요!</p>
      </div>
    </div>
    <div class="service-intro-box row">
      <div class="service-photo col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img src="/static/images/icons/service_03.png" alt="" class="pull-right">
      </div> 
      <div class="service-description col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <h4>3. 위블즈 개발자용 SDK</h4>
        <p>모든 사이트에서 사용 가능한 ‘위블스 SDK’. 위블즈 SDK를 통해 크롬 확장프로그램을 이용하지 않고 내 홈페이지에 멋진 위블스 버블을 달아보세요. 또한 위블즈만의 강력한 페이지간 이동 기능을 통해 자신의 사이트에 대해 효과적으로 설명하고, 방문객들의 서비스 사용몰입도를 높여보세요!</p>
      </div>
    </div>
    <div class="row special-intro-box">
      <div class="col-lg-4 col-md-4">
        
      </div>
      <div class="service-special-description col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <h4>
          크롬 확장 프로그램을 깔지 않아도 된다고요?
        </h4>
        <p>
          크롬 확장 프로그램을 깔지 않고서도 내 홈페이지에서 바로 위블즈를 실행하는 방법! <br> 위블즈 개발자용 SDK 베타테스트 참가하기!
        </p>
        <a href="#feedback-form">
          <button>
            위에서 메시지를 보내주세요!
          </button>  
        </a>
      </div>  
    </div>
  </div>
  <div class="row section-header">
    <div>
      <div></div>
      <div></div>
    </div>
    <div>
      <div>서비스 Q&A</div>
      <div></div>
    </div>
    <div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="row qa-session">
    <div class="session-question-header">
      <img src="/static/images/icons/question.png" alt="질문">
      <p name="whatIsChromeExt">크롬 확장프로그램은 무엇인가요?</p>   
    </div>
    <div class="session-body">
      <p>크롬 확장 프로그램은 구글에서 개발하고, 인증하는 크롬 브라우저 전용 어플입니다. 크롬 확장 프로그램은 스마트 폰에 설치되는 '앱'과 같이, 크롬(Chrome) 웹 브라우저에 설치되어 웹 생활을 더 편리하게 만들어주는 역할을 합니다.</p>
    </div>
  </div>
  <div class="row qa-session">
    <div class="session-question-header">
      <img src="/static/images/icons/question.png" alt="질문">
      <p>구글 크롬 확장 프로그램을 깔지 않고 위블즈를 실행할 수는 없나요?</p>   
    </div>
    <div class="session-body">
      <p>위블즈는 구글 크롬 확장프로그램만이 제공하는 강력한 기능들을 서비스의 핵심으로 사용하고 있습니다. 따라서 위블즈를 사용하기 위해서는 구글 확장 프로그램의 설치는 필수적입니다. </p>
      <p>하지만, 만약 개별 웹사이트의 주인들이 그 사이트의 방문객들로 하여금 크롬 확장 프로그램을 설치하지 않고도 위블즈의 강력한 기능을 즐기게 하고 싶다면 이것은 현재 베타서비스 중인 위블즈 개발자용 SDK를 통해 가능합니다.</p>
    </div>
  </div>
  <div class="row qa-session">
    <div class="session-question-header">
      <img src="/static/images/icons/question.png" alt="질문">
      <p>위블즈 개발자용 SDK를 내 사이트에 설치하고 싶습니다.</p>   
    </div>
    <div class="session-body">
      <p>현재 위블즈의 개발자용 SDK는 개별적으로 연락을 취한 소수의 사이트에서 시범적으로 운용되고 있습니다.</p>
      <p>베타테스트에 참가하실 웹사이트의 소유주는 위의 연락처를 통하여 연락을 취해주시면 되며, 베타테스트에 참여하신 웹사이트의  소유주에게는위블즈 튜토리얼에 대한 향후 정식 서비스 출시 시 각종 혜택을 보장해드립니다.</p> 
    </div>
  </div>
  <div class="row qa-session">
    <div class="session-question-header">
      <img src="/static/images/icons/question.png" alt="질문">
      <p>위블즈 사용 중 "예기치 못한 문제"가 발생하거나, 웹사이트에 있는 팝업창으로 인해 화면이 가려져 사용에 지장이 있었습니다.</p>   
    </div>
    <div class="session-body">
      <p>팝업창이나, 사이트 구조의 급작스러운 변경 때문에 위블즈 튜토리얼이 완벽하게 작동하지 못할 수도 있습니다. 이 점에 대해서 기술팀도 인지하고 있으며, 조금씩이지만 매일 매일 기술적 진전을 이뤄내고 있습니다. 사용에 불편하셨다면 양해 부탁드립니다!</p> 
    </div>
  </div>
</section>
{% endblock %}

{% block footer %}
  {{ block.super }}
{% endblock %}
