{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}
    Webbles - 튜토리얼 "{{tutorial.title}}" 시작하기
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'stylesheets/tutorial-initialize.css' %}">
<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/hpbjamocnkboicjejbhoaoionpbimgme">
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
  window.addEventListener("message", function(event) {
    if(event.source != window)
      return;

    if(event.data.type && (event.data.type == "bullback_extension_exists")) {
      console.log("success");
      window.postMessage({ type: "initialize_user_mode_from_web", data: {{tutorial.id}} }, "*");
      // window.close();
    } else {
      console.log("failure");
    }
  }, false);
</script>

<script type="text/javascript">
      $('#init_button').on("click", function() {
        if(is_installed) {
          window.open('/tutorials/{{tutorial.pk}}/init/');
        } else {
          chrome.webstore.install("https://chrome.google.com/webstore/detail/hpbjamocnkboicjejbhoaoionpbimgme",
            function successCallback() {
              console.log("success");
            },
            function failureCallback(error) {
              console.log("failure", error);
              location.href = 'https://chrome.google.com/webstore/detail/hpbjamocnkboicjejbhoaoionpbimgme';
            }
          )
        }
      });
    </script>
{% endblock %}

{% block header %}
  {{ block.super }}
{% endblock %}

{% block contents %}
<section id="install-page">
  <div class="section-header row">
    <h2><i class="fa fa-angellist"></i> 위블즈를 사용하시려면</h2>
  </div>
  <div class="solution-box row">
    <div class="solution-description col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <h4>1. 크롬 브라우저를 설치하셔야 합니다.</h4>
      <p>크롬 확장프로그램은 크롬 브라우저에서 동작하는 특수한 목적의 앱입니다. 따라서 크롬 브라우저 설치 후 위블즈 서비스를 다시 설치해주세요!</p>
      <a href="https://www.google.co.kr/intl/ko/chrome/" target="_blank">크롬 브라우저 설치하러 바로가기</a>
    </div>
    <div class="solution-image col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <img src="/static/images/icons/chrome.png" alt="">  
    </div>
  </div>
  <div class="solution-box row">
    <div class="solution-description col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <h4>2. 위블즈를 설치하셔야 합니다.</h4>
      <p>위블즈는 아래의 설치 버튼을 눌러서 원클릭으로 3초만에 설치하실 수 있습니다!</p>
      <a href="">크롬 웹스토어에 정식 등록된 위블즈 보러가기</a>
    </div>
    <div class="solution-image col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <img src="/static/images/icons/webbles_logo.png" alt="">  
    </div>
  </div>
  <button class="btn btn-block btn-default" id="init_button">5초만에 위블즈 설치하기</button>
</section>
{% endblock %}

{% block footer %}
  {{ block.super }}
{% endblock %}
