{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}
    Webbles - 튜토리얼 목록
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/tutorial-list.css' %}">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
      $(".tutorial-list .list .panel").hover(function() {
        $(this).toggleClass("hover");
        $(this).find(".webbles-list-btn").toggleClass("hover");
        $(this).find(".btn-tutorial-play").parent().parent().toggleClass("hover");
        $(this).find("div").each(function() {
          $(this).toggleClass("hover");
        });
      });
    </script>

    <script type="text/javascript">
      function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
          var sParameterName = sURLVariables[i].split('=');
          if (sParameterName[0] == sParam) {
            return sParameterName[1];
          }
        }
      }

      var url = window.location.href;

      $(".search form select").change(function(){
        var q = getUrlParameter('q');
        console.log(q);
        var a = $(this).val();
        console.log(a);
        var href = url.split('?')[0];
        console.log(href);
        if(q !== undefined) {
          href = href + '?q=' + q;
          console.log("1", href);
        }
        if(a !== undefined) {
          if(q !== undefined) {
            href = href + '&a=' + a;
            console.log("2", href);
          }
          else {
            href = href + '?a=' + a;
          }
        }

        location.href = href;
        // SP ADDED
        console.log("THIS IS A", a);
        
    });
    </script>

    <script>
      var a = $(".search form select").val();
      if(a === "l") {
        $("div.tutorial-list-item-footer > div:nth-child(3) > div > img").prop("src", "/static/images/icons/stat_like_p.png");
      } else if (a === "r") {
        $("div.tutorial-list-item-footer > div:nth-child(2) > div > img").prop("src", "/static/images/icons/stat_review_p.png");
      } else if (a === "v") {
        $("div.tutorial-list-item-footer > div:nth-child(1) > div > img").prop("src", "/static/images/icons/stat_view_p.png");
      }
    </script>
{% endblock %}

{% block header %}
  {{ block.super }}
{% endblock %}

{% block contents %}
<div class="tutorial-list" id="tutorial-list-page">
  <div class="container-fluid">
    <div class="row tutorial-list-header" id="tutorial-list-header">
      <div class="list-header-howto"><i class="fa fa-question-circle"></i><a href="/tutorials"> 위블즈 사용법 알아보기!</a></div>
      <div class="list-header-line"></div>
    </div>
    <div class="search row" id="tutorial-list-search-section">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form role="form" method="get" class="form-inline clearfix">
          <div class="col-sm-8">
            <input id="tutorial-title" name="q" type="text" class="form-control">
            <input id="tutorial-query" type="submit" class="btn btn-default" value="">
          </div>
          <div class="col-sm-offset-1 col-sm-3">
            <select class="form-control">
              <option value="l" {% if a == 'l' %}selected{% endif %}>도움수 순</option>
              <option value="r" {% if a == 'r' %}selected{% endif %}>리뷰수 순</option>
              <option value="v" {% if a == 'v' %}selected{% endif %}>조회수 순</option>
            </select>
            {% if a == 'r' %}
              <img src="/static/images/icons/arrange_review.png">
              {% elif a == 'v' %}
              <img src="/static/images/icons/arrange_view.png">
            {% else %}
              <img src="/static/images/icons/arrange_help.png">
            {% endif %}
          </div>
        </form>
      </div>
    </div>
    <div class="list row" id="tutorial-list-content-section">
      <div class="col-sm-12 col-xs-12" {% if not q %} style="visibility: hidden" {% endif %}>
      <p class="text-muted">
      <strong>"{{q}}"의 검색어로 총 {{tutorials|length}}개의 튜토리얼이 검색 되었습니다.</strong>
      <a href="/tutorials/" style="color: inherit;">돌아가기</a>
      </p>
    </div>
    {% for tutorial in tutorials %}
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tutorial-list-item-wrapper">
        <div class="tutorial-list-item">
          <div class="tutorial-list-item-header" style="background-image: url(/static/images/snaps/{{tutorial.pk}}.png)">
            <div class="tutorial-play-bar"><a href="/tutorials/{{tutorial.id}}"><p><i class="fa fa-angle-double-up"></i> 튜토리얼 상세정보 보기</p></a></div>
          </div>
          <div class="tutorial-list-item-body">
            <h4>{{tutorial.title|safe}}</h4>
            <p>{{tutorial.intro|safe}}</p>
          </div>
          <div class="tutorial-list-item-footer">
            <div class="tutorial-list-item-footer-stats">
              <div>
                <img src="/static/images/icons/stat_view_n.png">
                <p>{{tutorial.amount_views}}</p>
              </div>
            </div>
            <div class="tutorial-list-item-footer-stats">
              <div>
                <img src="/static/images/icons/stat_review_n.png">
                <p>{{tutorial.amount_reviews}}</p>
              </div>
            </div>
            <div class="tutorial-list-item-footer-stats">
              <div>
                <img src="/static/images/icons/stat_like_n.png">
                <p>{{tutorial.amount_likes}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
</div>
{% endblock %}

{% block footer %}
  {{ block.super }}
{% endblock %}