{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}
  Webbles - 테마 "{{tutorial.title}}" 상세 페이지
{% endblock %}

{% block metatags %}
    <meta name="og:title" content="Webbles - {{tutorial.title}}">
    <meta name="og:description" content="Webbles, the social tutorial service">
    <meta name="og:image" content="http://webbles.net/static/images/snaps/{{tutorial.pk}}.png">
{% endblock %}

{% block stylesheets %}
    <link rel="image_src" href="/static/images/snaps/{{tutorial.pk}}.png" />
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/tutorial-detail.css' %}">
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/hpbjamocnkboicjejbhoaoionpbimgme">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/static/javascripts/vendor/jquery.zclip.min.js"></script>

    <script type="text/javascript">
      // var w = $("#menu").innerWidth();

      // $("#menu > div").css({"width": w + "px"});
    </script>

    <script type="text/javascript">
      $(document).ready(function() {
        $("#copy-link").zclip({
          path:'/static/javascripts/vendor/ZeroClipboard.swf',
          copy:function(){return $('input#permalink').val();}
        });
      });
    </script>

    <script type="text/javascript">
      $("body").ready(function() {
        var w = new Webbles();
        w.startTutorial('/static/sdk/bubbleInfos.json');
      });
    </script>

    <script type="text/javascript">
      $('#review-submit').on("click", function() {
        $.ajax({
          async: false,
          url: "/api-list/reviews/",
          type: "POST",
          data: {
            "contents": $('#review-contents').val(),
            "tutorial": $('#review-tutorial').val()
          }
        })
        .done(function(data) {
          alert("리뷰가 성공적으로 게시되었습니다.");
          document.reload();
        })
        .fail(function(data) {
          alert("리뷰가 게시되지 못하였습니다.");
          //alert(JSON.stringify(data));
          document.reload();
        });
      });
    </script>

    <script type="text/javascript">
    promise.then(function(result) {
        $("#tutorial-start-button").html("<i class='fa fa-play-circle-o'></i> 튜토리얼 시작하기");
        console.log("설치가 감별 되었습니다!");
    }, function(err) {
        // $("#tutorial-start-button").text("5초만에 익스텐션 설치하고 튜토리얼 시작하기");
        console.log("미설치가 감별 되었습니다!");
    });
    </script>

    <script type="text/javascript">
      $('#tutorial-start-button').on("click", function() {
        if(is_installed) {
          window.open('/tutorials/{{tutorial.pk}}/init/');
        } else {
          chrome.webstore.install("https://chrome.google.com/webstore/detail/hpbjamocnkboicjejbhoaoionpbimgme",
            function successCallback() {
              console.log("success");
            },
            function failureCallback(error) {
              console.log("failure", error);
              location.href = 'https://chrome.google.com/webstore/detail/hpbjamocnkboicjejbhoaoionpbimgme';
            }
          )
        }
      });
    </script>

    <script type="text/javascript">

      function getParameterByName(name) {
          name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
          var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
              results = regex.exec(location.search);
          return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
      }

      var shareRequest = getParameterByName('shareRequest');

      if(!(typeof shareRequest === "undefined" || shareRequest == null || shareRequest == "")){

        // do share
        switch(shareRequest){

          case "facebook":
            // $(".pluginShareButtonLink").click();
            break;
          case "twitter":
          
            break;
          default:
            throw "** Unexpected Sharing Type!"
            break;
        }

      }

    </script>


    <script>

      function changeURL(URL){
        if(URL.slice(-4) === "none") {

        }
      }
      $(".tutorial-move-section a").each(function(){
        if($(this).attr("href").slice(-4) === "None"){
          $(this).on("click", function(){
            alert("이 튜토리얼이 테마의 가장 마지막(처음) 튜토리얼입니다!");
            return false;
          });
        }
      });
    </script>
{% endblock %}

{% block header %}
  {{ block.super }}
{% endblock %}

{% block contents %}
<div class="row tutorial-detail-header" id="tutorial-detail-header">
    <div class="detail-header-back"><i class="fa fa-reply"></i><a href="/tutorials"> 전체목록 돌아가기</a></div>
    <div class="detail-header-line"></div>
</div>
<div class="row" id="tutorial-title">{{tutorial.title|safe}}</div>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" id="tutorial-detail-main">
        <div class="tutorial-image" style="background-image: url(/static/images/snaps/{{tutorial.pk}}.png)"></div>
        <div class="tutorial-start">
            <button id="tutorial-start-button">5초만에 익스텐션 설치하기</button>
        </div>
        <div class="tutorial-review-form">
            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <input id="review-tutorial" type="hidden" value="{{tutorial.id}}">
                    <input id="review-contents" type="text" class="form-control">
                    <button id="review-submit" type="submit" class="btn btn-block btn-default">리뷰쓰기</button>
                </div>
            </form>
        </div>
        <div class="tutorial-review-list">
            <div class="panel panel-default">
                <table class="table table-hover table-bordered table-striped">
                    <tbody>
                        {% for review in reviews %}
                            <tr>
                                <td class="tutorial-review-content">
                                  <div><i class="fa fa-angle-right"></i> {{review.contents}}</div>
                                  <div><p class="tutorial-review-nickname"><i class="fa {{review.faicon}}"></i> {{review.verbal}}</p></div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tutorial-move-section">
          <div class="pull-left"><i class="fa fa-chevron-left"></i></i> <a href="/tutorials/{{tutorial.prev_tutorial_at_category}}">이전 튜토리얼 보기</a></div>
          <div class="pull-right"><a href="/tutorials/{{tutorial.next_tutorial_at_category}}">다음 튜토리얼 보기</a> <i class="fa fa-chevron-right"></i></div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="tutorial-detail-sub">
        <div class="tutorial-description"><p>{{tutorial.description|safe}}</p></div>
        <div class="tutorial-information">
            <h4>튜토리얼 정보:</h4>
            <div>
                <div>
                    <img src="/static/images/icons/stat_view_n.png">
                    <p>{{tutorial.amount_views}}</p>
                </div>
            </div>
            <div>
                <div>
                    <img src="/static/images/icons/stat_review_n.png">
                    <p>{{tutorial.amount_reviews}}</p>
                </div>
            </div>
            <div>
                <div>
                    <img src="/static/images/icons/stat_like_n.png">
                    <p>{{tutorial.amount_likes}}</p>
                </div>
            </div>
        </div>
        <div class="tutorial-social">
            <h4>튜토리얼을 친구들과 공유하세요!</h4>
            <input id="permalink" type="text" class="form-control" value="https://webbles.net/tutorials/{{tutorial.id}}/">
            <div class="social-buttons-wrapper">
                <div>
                    <div class="facebook-span"><div class="fb-share-button" data-href="/tutorials/{{tutorial.pk}}/"></div></div>
                </div>
                <div>
                    <div><a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-hashtags="webbles">Tweet</a></div>
                </div>
                <div>
                    <div id="copy-link"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
  {{ block.super }}
{% endblock %}