<!-- <div class="container">
	<p class="text-center">
	copyright swmaestro 5th team bullback
	</p>
</div> -->
<footer class="row">
	<div class="col-lg-2 col-md-2">
		
	</div>
	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
		<p>Copyright <i class="fa fa-copyright"></i> Team Bullback. Software Maestro 5th. All Rights Reserved.</p>
	</div>
	<div class="col-lg-2 col-md-2">
		
	</div>
</footer>