<ul class="nav nav-pills nav-stacked">
  <li>
    <a class="text-center" href="/">
      <img src="/static/images/icons/navi_bi.png">
    </a>
  </li>
  <li>
    <a class="text-center" href="/categories/">
      테마
    </a>
  </li>
  <li>
    <a class="text-center" href="/tutorials/?a=v">
      튜토리얼
    </a>
  </li>
  <li>
    <a class="text-center" href="/intro/">
      고객의소리
    </a>
  </li>
</ul>