{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]--><!--[if IE 7]>
  <html class="no-js lt-ie9 lt-ie8">
<![endif]--><!--[if IE 8]>
  <html class="no-js lt-ie9">
<![endif]--><!--[if gt IE 8]><!-->
  <html class="no-js">
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="owbp08b4h-jvNU89sSta87Kk7itcMBbiEZXjt5IxdWA" />
    <title>
      {% block title %}Webbles - 소셜 튜토리얼{% endblock %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="og:type" content="website" />
    <meta name="og:url" content="https://webbles.net/"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% block metatags %}
    {% endblock %}

    <link rel="shortcut icon" href="/static/images/icons/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/vendor/miniNotification.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/components/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/components/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/intro.css' %}">
	
    <link rel="stylesheet" type="text/css" href="{% static 'sdk/webblesLib.css' %}">

    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/hpbjamocnkboicjejbhoaoionpbimgme">

    {% block stylesheets %}
    {% endblock %}

    {% if is_server %}
    <script type="text/javascript">
      if (window.location.protocol != "https:")
        window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
    </script>
    {% endif %}

  </head>
  <body>
    <div id="mininoti1" class="mini-notification">
      <a href="http://www.google.com/intl/ko/chrome/" target="_blank">
        모바일 환경에서는 위블즈 서비스 이용이 제한됩니다.
      </a>
    </div>

    <div id="mininoti2" class="mini-notification">
      <a href="http://www.google.com/intl/ko/chrome/" target="_blank">
        <img src="/static/images/icons/chrome_logo.png" style="width: 20px; height: 20px; margin-right: 5px;">
        위블즈 서비스 이용을 위해선 <strong>구글 크롬 웹브라우저</strong>가 필요합니다. 지금 크롬 브라우저를 <strong>설치</strong>하고 위블즈를 즐겨보세요.
      </a>
    </div>

    <section id="contents" class="container-fluid">
      <div class="row">
        <div id="header" class="col-lg-1 col-md-1 col-sm-1" style="position: fixed; z-index: 10000; margin-left: 15px;">
          {% include 'server/components/header.html' %}
        </div>
        {% block container %}
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs"></div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          {% block contents %}
          {% endblock %}
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs"></div>
        {% endblock %}
      </div>
    </section>

    {% block footer %}
      {% include 'server/components/footer.html' %}
    {% endblock %}
    
    <script type="text/javascript" src="{% static 'javascripts/vendor/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/vendor/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/vendor/miniNotification.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/default.js' %}"></script>
    <script type="text/javascript" src="{% static 'sdk/webblesLib.js' %}"></script>

    <script type="text/javascript">
      var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
      var is_mobile = function() {
        var is_mobile = false;
        (function(a,b){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4)))check = true})(navigator.userAgent||navigator.vendor||window.opera);
        return is_mobile;
      }

      if(is_mobile()) {
        $(document).ready(function() {
          $('body').css({"margin-top": "25px !important"});
        });
        $(function() {
          $('#mininoti1').miniNotification({
            time: 10000000,
            hideOnClick: false
          });
        });
      } else {
        if(!is_chrome) {
          $(document).ready(function() {
            $('body').css({"margin-top": "25px !important"});
          });
          $(function() {
            $('#mininoti2').miniNotification({
              time: 10000000,
              hideOnClick: false
            });
          });
        }
      }
    </script>

    <div id="fb-root"></div>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56109708-1', 'auto');
      ga('send', 'pageview');
    </script>

    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '288684931321151',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/ko_KR/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <script type="text/javascript">
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>

    <script type="text/javascript">
      var is_installed;
      var promise = new Promise(function(resolve, reject) {
        window.addEventListener("message", function(event) {
          if(event.source != window)
            return;

          if(event.data.type && (event.data.type == "bullback_extension_exists")) {
            is_installed = true
            if (is_installed === true) {
              resolve("설치가 되었습니다!");
              // console.log("설치가 되었습니다!");
            }
            else {
              reject(Error("설치가 되지 않았습니다!"));
              // console.log("설치가 되지 않았습니다!");
            }
            $("#init").css({'font-size': "20px"});
            $("#init").text('튜토리얼 실행하기');
          }
        }, false);
      });
    </script>

    {% block javascripts %}
    {% endblock %}

    {% block modals %}
    {% endblock %}
  </body>
</html>
